/* font-family: 'Arimo', sans-serif; 
font-family: 'EB Garamond', serif; */
html {
    scroll-behavior: smooth;

}

body {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    max-width: 90%;
    margin: auto;
    background-image: url(image/tijolos.jpg);
}

* {
    text-shadow: 1px 1px 1px #000000;
}

main {
    background-image: url(image/capacavalca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
    transition: all 0.5s;
    -webkit-animation: slidein ease-in-out 15s infinite;
    -moz-animation: slidein ease-in-out 15s infinite;
    animation: slidein ease-in-out 15s infinite;

}

main:hover {
    background-image: url(image/maquinas2.png);
    transition: all 0.5s;
}


.cabecalho {
    padding-top: 3vw;
    padding-left: 5em;
}

.logo {
    border-style: solid #000000;
    border-width: 2px;
    border-radius: 1vw;
    transform: scale(1);
    animation: pulse 2s linear infinite;
}

.menu-cabecalho {
    display: flex;
    gap: 3vw;
    float: right;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 8vw;
    background-color: #413535bb;
    height: 3vw;
    align-items: center;
    padding-left: 2vw;
    border-color: #FE5000;
    border-style: solid;
    justify-content: space-between;
}

.links {
    text-decoration: none;
    color: #ffffff;
    display: block;
    z-index: 1;
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: calc(-50% -50%) 1s;
}

.links:hover {
    color: #ff5100;
    text-shadow: 1px 1px 1px #000000;
    height: 3vw;
    padding-top: 1.5vw;

    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1.5);

}

.apresentaçao {
    color: #ffffff;
    text-shadow: 3px 3px 3px #000000bb;
    padding-left: 5em;
    padding-top: 5vw;
    font-size: 1.5vw;
    font-family: 'Arimo', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000bb;
    font-weight: 700;
}

.apresentaçao>p {
    font-family: 'EB Garamond', serif;
    -webkit-text-stroke-width: 0.7px;
    text-shadow: 2px 1px 2px black;
}

#serviços {
    position: relative;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    color: #ffffff;
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #ff6600; */
    font-size: 1vw;
    margin-bottom: 3vw;
}


.botao-ligar {
    width: 6vw;
    height: 3vw;
    font-family: 'EB Garamond', serif;
    border-style: solid;
    border-width: 2px;
    border-color: #FE5000;
    cursor: pointer;
    font-weight: 400;
    font-size: 0.7vw;
    text-shadow: 0px 0px 3px #000000bb
}

.botao-ligar:hover {
    border-color: #ffffff;
    background-color: #FE5000;
    font-size: 1vw;
    text-shadow: 1px 1px 1px #000000;


}

.tabela-service {
    display: flex;
    gap: 5vw;
    justify-content: center;
    
}

.overlay {
    margin-top: 2vw;
}

.painel-sobre {
    background-color: #000000bb;
    width: 80vw;
    height: 25vw;
    position: absolute;
    margin-top: 3vw;
    border-style: double;
    border-width: 2px;
    border-color: #FE5000;
    box-shadow: 2px 3px 3px #FE5000;
    display: inline-block;
    margin-left: 4vw;
    justify-content: center;

}

.sobre {
    color: #ffffff;
    font-family: 'EB Garamond', serif;
    text-align: justify;
    font-size: 2vw;
    background: none;
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    position: relative;
    margin-left: 1vw;
    padding-bottom: 10px;
}

.sobre>p {
    font-size: 1vw;
    font-family: 'EB Garamond', serif;
    text-transform: justify;
    padding-right: 3%;
    padding-left: 3%;
}

.sobre>h3 {
    text-align: center;
}

.conteiner {
    font-size: 1vw;
    text-align: left;
    margin: auto;
}

.anima {
    position: sticky;
    transform: translateY(-40%);
}

.zoom {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


.zoom:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.botao-ligar, .botao-modal {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.botao-ligar, .botao-modal:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.painel-mapa {
    background-color: #000000bb;
    width: 77vw;
    height: 30vw;
    position: absolute;
    margin-top: 32vw;

    border-style: double;
    border-width: 2px;
    border-color: #FE5000;
    box-shadow: 2px 3px 3px #ff6600;

    margin-left: 4vw;
    justify-content: center;
    color: #ffffff;
    font-family: 'EB Garamond', serif;
    text-align: left;
    font-size: 2vw;

    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    position: relative;
}

.painel-mapa>h3 {
    padding-left: 15%;
    letter-spacing: 2px;
    font-family: 'EB Garamond', serif;
    color: #ffffff;
}

.mapa {
    display: flex;
    padding-left: 2vw;
    padding-bottom: 2vw;

    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    width: 600;
    height: 450;
}

.mapa:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contatos {
    width: 25vw;
    padding-left: 5vw;
    height: 100%;
    text-align: center;
    position: absolute;
    margin-left: 50%;
    letter-spacing: 2px;
    align-content: center;
    padding: auto;
}

.lista-contato {
    font-family: 'EB Garamond', serif;
    font-size: 1.5vw;
    list-style: none;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.bloco-zap,
.bloco-insta,
.bloco-mail {
    width: auto;
    height: 6vw;
    background-image: url(image/tijolos.jpg);
    margin: 5px;
    margin-top: 0.5vw;
    border-style: solid;
    border-width: 2px;
    border-color: #FE5000;
    border-radius: 10px;
    box-shadow: 1px 2px 2px #d80000;

    /* zoom */
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.bloco-zap:hover,
.bloco-insta:hover,
.bloco-mail:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.zap,
.insta,
.mail {
    color: #ffffff;
    font-family: 'EB Garamond', serif;
}

.linkstyle {
    text-decoration: none;
}

.bloco-zap:hover {
    background: #01F87B;
    transition: all 0.5s;
    border-color: #ffffff;
    box-shadow: none;
}

.bloco-insta:hover {
    background-image: url(image/logo-gradient.png);
    transition: all 0.5s;
    border-color: #ff00d4;
    box-shadow: none;
}

.bloco-mail:hover {
    background-image: url(image/bluegradient.png);
    transition: all 0.5s;
    border-color: #ffffff;
    box-shadow: none;
}

.rodapé {
    display: flex;
    background-image: url(image/orange-gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin: auto;
    margin-top: 3vw;
    margin-right: 3.8vw;
    padding: 1vw;
    justify-content: space-between;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff;
    border-radius: 5px;
}

.info1,
.info2,
.info3 {
    background-image: url(image/tijolos.jpg);
    padding: 1rem;
    border-radius: 10px;
    margin: auto;
}

.link3 {
    text-decoration: none;
    color: #aa16ff;

}

.info3 {
    color: #ffffff;
    text-transform: none;
    text-decoration: none;
}

.for-arrow {
    background-image: url(image/tijolos.jpg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: sticky;
    transform: scale(1);
    animation: pulse 2s linear infinite;
    padding: 1vw;
    cursor: pointer;
}

.botaotop {
    position: relative;
    display: flex;
}

.botaotop:hover .tooltip {
    visibility: visible;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    background-image: url(image/tijolos.jpg);
    z-index: 1;
    transform: translateX(70%);
    color: #FE5000;
    border-radius: 10px;
    width: 6vw;
    padding: 5px;
    border: solid #FE5000;
}
.preload {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #000000bb;
   display: flex;
   align-items: center;
   justify-content: center;
}
.preload>img {
    border-radius: 5px;
    transform: scale(1);
    animation: pulse 2s linear infinite;
}

.modal {
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
    height: 90%;
    width: 90%;
    background-color: #000000bb;
    margin: auto;
    margin-top: 7vh;
    position: fixed;
    z-index: 2;
    flex-wrap: wrap;

    border-style: solid;
    border-color: #FE5000;
    border-width: 3px;
    box-shadow: 0 0 15px #FE5000;
    
    transition: 350ms;
    top: -100%;
}

span {
    color: #FE5000;
    width: 10vw;
    height: 10px;
    float: right;
    transform: translateX(75%);
    cursor: pointer;
}

.botao-modal {
    width: 30vw;
    font-size: 2vw;
    background-image: url(image/orange-gradient.jpg);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1vw;
    border-radius: 10px;
    border: solid #FE5000;
    font-family: 'EB Garamond', serif;
    cursor: pointer;
    box-shadow: 0 0 10px #FE5000;
    text-shadow: 0 0 4px #000000;
}

.tabela-service {
    visibility: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 2rem;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-image: url(image/faixascrollbar.png);
    background-repeat: repeat-y;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    
    border-radius: 3rem;
    background-image: url(image/icons8-construction-35.png);
    background-repeat: no-repeat;
    width: 60%;
    
    
  }
  
  .testtext {
    overflow: hidden;
  }

  .texthover {
    background-color: #000000bb;
    width: 100%;
    height: 3rem;
    transition: 1s ease;
    visibility: hidden;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'EB Garamond', serif;
  }

.testtext:hover .texthover {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50px);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    /*
    10% {
        transform:  scale(1.3);
    }
    20% {
        transform:  scale(0.9);
    }
    30% {
        transform:  scale(1.2);
    }
    40% {
        transform:  scale(0.9);
    }*/
    50% {
        transform: scale(1.3);
        opacity: 1;
    }

    /*
    60% {
        transform:  scale(0.95);
    }
    70% {
        transform: scale(1);
    } */
    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}

@-moz-keyframes slidein {
    0% {
        background-image: url(image/capacavalca.jpg);
    }

    40% {
        background-image: url(image/patio.png);
    }

    80% {
        background-image: url(image/frota.png);
    }

    100% {
        background-image: url(image/2mack.png);
    }
}

@-webkit-keyframes slidein {
    0% {
        background-image: url(image/capacavalca.jpg);
    }

    40% {
        background-image: url(image/patio.png);
    }

    80% {
        background-image: url(image/frota.png);
    }

    100% {
        background-image: url(image/2mack.png);
    }
}

@keyframes slidein {
    0% {
        background-image: url(image/capacavalca.jpg);
    }

    40% {
        background-image: url(image/patio.png);
    }

    80% {
        background-image: url(image/frota.png);
    }

    100% {
        background-image: url(image/2mack.png);
    }

}

@media screen and (max-width : 1025px) {

    body{
        max-width: 95%;
        
    } 

    .modal{
        margin-left: 3vw;
        width: 90vw;
    }

    span{
        position: absolute;
        width: 7vw;
        height: 6vh;
        float: right;
    }
    .preload {
       z-index: 999;
       width: 100%;
       height: 100%;
       background-color: #000000;
    }
    .preload>img {
        width: 200px;
        height: 160px;
        justify-content: center;
        align-items: center;
    }
   
    img {
        width: 80%;
        height: 80%;
    }

    .img-service {
        width: 25vw;
        height: 20vw;
    }
    .links {
        display: block;
    }
    .mapa {
        width: 50%;
        height: 50%;
    }

    .cabecalho {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-left: 50px;
        align-items: center;
    }

    .logo {
        width: 33%;
        height: 33%;

        margin-right: 35vw;
        margin-left: 10vw;
        margin-bottom: 10px;

        justify-content: center;
    }

    body {
        width: 412;
        height: 914;
        font-size: 60%;
        margin-bottom: 10px;
    }

    .info1,
    .info2,
    .info3 {
        justify-content: space-between;
        width: 45%;
        height: 35%;
        font-size: 2vw;
    }

    .menu-cabecalho {
        font-size: 2vw;
        width: 300px;
        height: 5vw;
        margin-right: 20vw;
        border-width: 1px;
        margin-bottom: -20px;
    }

    .apresentaçao {
        color: #ffffff;
        text-decoration: none;
        transform: translateX(20%);
        margin-top: 5px;
        margin-bottom: 20px;
        -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: #000000bb;
        box-sizing: border-box;
    }

    .apresentaçao>p {
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: transparent;
        padding-top: 2px;
        text-align: center;
        margin-right: 40vw;
        font-size: 1.8vw;
        text-shadow: none;
    }

    .apresentaçao>h1 {
        text-align: center;
        margin-right: 42vw;
    }

    .zap,
    .insta,
    .mail {
        visibility: hidden;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        margin-right: 10vw;
        padding-top: 5px;
    }

    .botao-ligar {
        width: 20vw;
        height: 3vh;
        font-size: 90%;
        text-shadow: none;
        /* transform: translateX(45%); */
        margin-left: 10vw;
    }
    .botao-ligar:hover {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    #serviços {
        margin-top: 40px;
        font-size: 8px;
    }

    

    .painel-mapa {
        height: auto;
        font-size: 8px;
        margin-top: 75vw;
        margin-bottom: 25vw;
        margin-left: 7vw;
    }

    .painel-sobre {
        margin-top: 7vw;
        height: 32vw;
        margin-left: 7vw;
    }

    .sobre>h3 {
        font-size: 10px;
    }

    .sobre>p {
        font-size: 1.8vw;
        letter-spacing: 0.05px;
        
    }

    .anima {
        width: 210px;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10vw;
        margin-bottom: 6vw;
    }

    .contatos>h3 {
        margin-left: 10vw;
    }

    .logozap,
    .logoinsta,
    .logomail {
        padding: 5px;
        justify-content: center;
        align-items: center;
        width: 17px;
        height: 17px;
    }

    .bloco-zap {
        background: #01F87B;
        margin-top: 5vw;
        margin-left: 2vw;
    }

    .bloco-insta {
        background-image: url(image/logo-gradient.png);
        margin-top: 3vw;
        margin-left: 2vw;
    }

    .bloco-mail {
        background-image: url(image/bluegradient.png);
        margin-top: 3vw;
        margin-left: 2vw;
    }

    .rodapé {
        width: 100%;
        gap: 15px;
        margin: auto;
        flex-wrap: nowrap;
        

    }

    .botaotop {
        z-index: 1;
        position: sticky;
        transform: translatey(-200%);
        margin-bottom: 10vw;
        width: 40px;
        height: 40px;
        position: absolute;
        margin-left: 40vw;
    }

    .botaotop:hover .tooltip {
        visibility: hidden;
    }

    .for-arrow {
        z-index: 1;
        margin: auto;
    }

    .tabela-service {
        display: flex;
        gap: 5vw;
    }

    .zoom {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .zoom:hover {
        -moz-transform: scale(2.1);
        -webkit-transform: scale(2.1);
        transform: scale(2.1);
    }
    
}
